<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>method</key>
		<string>app-store</string>		<!-- app-store, ad-hoc, enterprise, development -->
		<key>teamID</key>
		<string>7296M39392</string>
		<key>signingStyle</key>
		<string>manual</string>
		<key>provisioningProfiles</key>
		<dict>
			<key>at.valley.dnd</key>
			<string>ec6a4bd1-b5ef-4f16-8612-e57a0f0d56a6</string> <!-- grep -a -A 1 'UUID' <PATH_TO_MOBILEPROVISION_FILE> -->
		</dict>
	</dict>
</plist>
